<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="index::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is a home page</title>
</head>
<body>
	<section style="height:100vh";>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-1">

				      <div class="container text-center" style="padding-top:20px;">
				      	<img class="" style="width:80px;" th:src="@{/img/membership.png}"/>
				      </div>
					
						<h1 class="text-center" style="padding-bottom: 20px;">Delete Communication Data</h1>
						
						<div th:if="${message}" th:classappend="${message.type}" class="alert" role="alert">
          					<p class="text-center" th:text="${message.content}"></p>
    					</div>
						
						<form action="" th:action="@{/delete-communication}" method="post">
							 
							 <div class="mb-3">
							    <label for="email_field" class="form-label">Enter Communication Id To Delete Data</label>
							    <input type="number" class="form-control" name="communicationid" id="email_field" aria-describedby="emailHelp" placeholder="Enter Id" required>
							 </div>
							
							 
							 <div class="container text-center">
							 	<button type="submit"  class="btn bg-primary text-white">
							 		Delete Communication
							 	</button>
							 	<button type="reset" class="btn btn-warning text-white">
							 		Reset
							 	</button>
							 </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>