<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="index::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Admin Login Page</title>
</head>
<body>
	<section style="height:100vh;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-1">

				      <div class="container text-center" style="padding-top:20px;">
				      	<img class="" style="width:80px;" th:src="@{/img/membership.png}"/>
				      </div>
						<h1 class="text-center">Admin Login !!</h1>
					    <div th:if="${message}" th:classappend="${message.type}" class="alert" role="alert">
          					<p class="text-center" th:text="${message.content}"></p>
    					</div>
    						<div class="alert alert-danger" th:if="${errormessage}"  role="alert">
  								<h6 th:text="${errormessage}"></h6>
							</div>
							
						<form action="" th:action="@{main-admin-login}" method="post" th:object="${user}"><!-- th:action="@{/do_register}"  th:object="${user}"  -->

							 <div class="mb-3">
							    <label for="email_field" class="form-label">Email</label>
							    <input type="email" class="form-control" name="email" id="email_field" aria-describedby="emailHelp" placeholder="Enter Email" required>
							 </div>
							 
							 <div class="mb-3">
							    <label for="address_field" class="form-label">Password</label>
							    <input type="password" class="form-control" name="password" id="address_field" aria-describedby="emailHelp" placeholder="Enter Password" required>
							 </div>
		
							 <div class="form-group form-check">
								<input type="checkbox" name="agreement" class="form-check-input" id="agreement"/>
								<label for="agreement">Accept terms and conditions</label>
							</div>
							 
							 <div class="container text-center">
							 	<button type="submit"  class="btn bg-primary text-white">
							 		Login
							 	</button>
							 	<button type="reset" class="btn btn-warning text-white">
							 		Reset
							 	</button>
							 </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>